@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  opacity: 0;
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0.5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #1d4ed8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
